<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Hospital" connectionString="Data Source=MDALAMIN-PC;Initial Catalog=GermentsDB;Integrated Security=True" />
    <add name="Purchesed.Properties.Settings.GermentsDBConnectionString"
      connectionString="Data Source=MDALAMIN-PC;Initial Catalog=GermentsDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>